<h1>{{title}}</h1>

<div id=body>
    <div id=graph>
    </div>
</div>

<div id="data">
    {{#if err}}
        <div id=error>
            <p>error: {{err}}</p>
        </div>
    {{/if}}
    {{ body }}
</div>

<div id=footer>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{token}}&callback=initMap">
    <script '/javascripts/data.js'></script>
    <script '/javascripts/maps.js'></script>
</div>
