<div id="map"></div>

<div id=options>
    <input type='checkbox' id=heatmap value=heatmap><p>Heatmap</p>
    <input type='checkbox' id=traffic value=traffic>
    <input type='checkbox' id=bikes value=bikes>
</div>

<div id='js'>
      <script src='/javascripts/locations.js'></script>
</div>
